<br>
<br>
<div class="student-panel row" ng-controller="studentlistCtrl">
    <div class="panel panel-primary">
        <!-- Default panel contents -->
        <div class="panel-heading">Estudiantes registrados</div>
        <div class="panel-body">
            <div class="col-sm-2">
                <label>Nombre:</label>
                <input class="form-control" id="ex1" type="text" ng-model="NewStudent.name" required>
            </div>
            <div class="col-sm-2">
                <label>Dirección:</label>
                <input class="form-control" id="ex2" type="text" ng-model="NewStudent.address" required>
            </div>
            <div class="col-sm-2">
                <br>
                <button type="button" class="btn btn-success btn-block" ng-click="CreateStudent()"  ng-disabled="!NewStudent.name || !NewStudent.address || selected">Nuevo</button>
            </div>
        </div>
        </div>
    <div>
        <br><br>
        <!-- Table -->
        <table class="table">
            <tr class="info">
                <td>Nombre</td>
                <td>Drección</td>
                <td>Acciones</td>
                <td></td>
            </tr>
            <tr ng-repeat="student in students | orderBy:'name'">
                <td>{{student.name}}</td>
                <td>{{student.address}}</td>
                <td><a class="btn btn-info" ng-href="#/studentprofile/{{student._id}}">Ver estudiante</a></td>
                <td><button class="btn btn-danger" ng-click="DeleteStudent(student._id)">Eliminar</button></td>
            </tr>
        </table>
    </div>

</div>